# JWT
jwt.expire.hours=2
jwt.token.private_key=keys/private_key.der
jwt.token.public_key=keys/public_key.der

# RabbitMQ Server properties
spring.rabbitmq.host= <adresse IP du serveur RabbitMQ>
spring.rabbitmq.port= <port du serveur RabbitMQ>
spring.rabbitmq.username= <le login admin>
spring.rabbitmq.password= <le mot de passe>
# AMQP properties
rabbitmq.queueName=ldap.users
rabbitmq.topicName=ldap
rabbitmq.routingKey=ldap.users.#

adresse_ip=<adresse IP du serveur LDAP>
admin_login=<le login admin>
admin_password=<le mot de passe>
ldap_port=<le port utilisé>

base_dn=dc=example,dc=com
ou_utilisateurs=ou=Pedago,ou=Utilisateurs
ou_groups=ou=Groupes
groupe_etudiants=Etudiants

# Non utilisé
users_ldap_directory=
# users_ldap_directory=/home/users/ldap
